
.flex-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  height: 40px;
  width: 70px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: yellowgreen;
}
.container {
  border: 4px solid burlywood;
  border-radius: 8px;
  display: grid;
  grid-gap: 0px;
  height: 400px;
  width: 400px;
}
