
.flex-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  height: 40px;
  width: 70px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: yellowgreen;
}
.container {
  border: 4px double darkblue;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(num, 1fr);
  grid-gap: 0px;
  height: 300px;
  width: 300px;
}

.grid {
  
 
}
